<!--The content below is only a placeholder and can be replaced.-->
<div style="align-content: center" class="container p-3">
  <div class="row">
    <div class="col w-100 p-1 m-1" style="border-style: dotted; z-index: 1;">
      <h3>
        Face recognition using Azure Face detection API
      </h3>
      <ul>
        <li>Copy the URL of an image in the text field</li>
        <li>Click the button to detect faces in that Image</li>
        <li>Hover over the boxes to see the features of the faces</li>
      </ul>
      <!-- <button title="I am a tooltip" appTippy [tippyOptions]="{arrow: true}">Click</button> -->
      <div (window:resize)="onResize($event)" id="container" style="border-style: dashed; position: relative;" #container>
        <img class="w-100" [src]="image.src" style="position: relative; z-index: 2" #htmlImage>
      </div>
      <span class='w-auto d-flex'>
        <button class="btn btn-success p-1 m-1 w-25" (click)="detectFaces()">
          Click here to detect faces
        </button>
        <input type="text" (change)="drawImage()" class="p-1 m-1 w-75" rows="1" [(ngModel)]="image.src">
      </span>
      <textarea class="w-100 p-1 m-1" *ngIf="response" id="" rows="10">{{
        response
      }}</textarea>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
