<!--The content below is only a placeholder and can be replaced.-->
<div style="align-content: center" class="container">
  <div class="row">
    <h2>
      Face recognition using Azure Face detection API
    </h2>
    <div class="col">
      <canvas #canvas></canvas>
      <span class='d-flex'>
        <button class="btn btn-success p-1 m-1 w-25" (click)="detectFaces()">
          Click here to detect faces
        </button>
        <textarea class="p-1 m-1 w-75" rows="1" [(ngModel)]="pictureUrl"></textarea>
      </span>
    </div>
    <div class="container">
      <textarea class="p-1 m-1" *ngIf="response" id="" cols="100" rows="10">{{
        response
      }}</textarea>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
